.show {
  display: block;
}

.fh {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.dark {
  background-color: #121619;
  color: white;
  border-color: white;
}

.light {
  color: #121619;
  background-color: white;
  border-color: #121619;
}

.timer h1 {
  font-size: 4rem;
}

.minutes {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.seconds {
  background-color: #276fbf !important;
  color: white !important;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.controls {
  padding-top: 10px;
}

.controls button {
  margin-right: 10px !important;
  margin-left: 10px !important;
  border: none;
  color: white;
  padding: 0px;
  display: inline-block;
  margin: 4px 2px;
  color: #121619;
  fill: #276fbf;
  background-color: transparent;
}

.progress {
  max-width: 150px;
  height: 2px;
}

.progress-bar {
  background-color: #276fbf;
}

.theme-button {
  padding-top: 16px;
}

.theme-button button {
  border: none;
  fill: #276fbf;
  background-color: transparent;
}

.settings {
  padding-top: 10px;
}

.settings button {
  margin-right: 3px;
  margin-left: 3px;
  padding: 8px;
  font-weight: bolder;
  border: 1px solid #276fbf;
}

.settings button:disabled {
  border-color: gray;
  color: gray;
}
